.clr-outline-for-libs a.active.focus,
.clr-outline-for-libs a.active:focus,
.clr-outline-for-libs a.focus,
.clr-outline-for-libs a:active.focus,
.clr-outline-for-libs a:active:focus,
.clr-outline-for-libs a:focus,
.clr-outline-for-libs input.active.focus,
.clr-outline-for-libs input.active:focus,
.clr-outline-for-libs input.focus,
.clr-outline-for-libs input:active.focus,
.clr-outline-for-libs input:active:focus,
.clr-outline-for-libs input:focus,
.clr-outline-for-libs button.active.focus,
.clr-outline-for-libs button.active:focus,
.clr-outline-for-libs button.focus,
.clr-outline-for-libs button:active.focus,
.clr-outline-for-libs button:active:focus,
.clr-outline-for-libs button:focus,
.clr-outline-for-libs .btn.active.focus,
.clr-outline-for-libs .btn.active:focus,
.clr-outline-for-libs .btn.focus,
.clr-outline-for-libs .btn:active.focus,
.clr-outline-for-libs .btn:active:focus,
.clr-outline-for-libs .btn:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

html, body, .wrapper {
  min-height: 100vh;
}